###############################
# project ignore
###############################
node_modules/




###############################
# test files
###############################
test/web/*.jade


###############################
## mac osx system files
###############################
*.DS_Store

