

#listBox {
    width: 100%;
    min-height: 200px;
    border: 1px solid #abc;
}

#msgList {
    width: 100%;
    height: auto;
}

.msgInput {
    height: 2em;
    line-height: 1.4;
}

#msgTextBox {
    width: 20em;
    max-width: 85%;
    height: auto;
}


