extends layout

block content
  #mainPage
    #pageLeft
      section#loginForm
        label(for='username') Username: 
        input#username(type='text', name='username')
        input#sub2server(type='button', name='submit', value='submit')
        br
        label(for='message') Message: 
        input#message(type='text', name='message')
        input#msg2server(type='button', name='msg', value='Msg')
    #pageRight
      #displayBoard
        ul#msgBox

block script
  script(type="text/javascript",src="/socket.io/socket.io.js")
  script(type="text/javascript",src="/js/index.js")
